.menu_container {
	display: flex;
	flex-direction: column;
}

.toggle_icons {
	align-self: flex-end;
	margin-top: 1rem;
	z-index: 10;
	position: fixed;
}

.logo{
	color: black;
	opacity: 0.8;
	text-decoration: none;
	padding: 0;
	margin-left: 10%;
	font-size: 5rem;
	font-weight: 600;
	font-family: "Bodoni MT";
	align-self: flex-start;
	text-transform: uppercase;
	z-index: 10;
}



.nav_links_active {

	z-index: 9;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: white;
	width: 100%;
	height: 100vh;
	list-style: none;
	justify-content: center;
	
}

.nav_passive {
	width: 0;
	display: none;
	transition: all 10s ease-out;
}
.passive {
	display: none;
}

.link_item {
	list-style: none;
	color:black;
	font-family: New York Small;
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	transition: color 0.3s ease-out;
}

.logo:hover,
.link_item:hover {
	text-decoration: none;
	opacity: 0.5;

}
