a {
	text-decoration: none;
}

h1 {
	font-family: Staatliches;
	font-size: 120px;
}

#category {
	font-family: Staatliches;
	font-weight: 500;
}	

#title {
	letter-spacing: 0.4px;
	font-size: 22px;
}

#banner {
	margin:20px;
	height: 800px;
} 

#editor  {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

.uk-navbar-container {
	background: #fff im !important;
	font-family: Staatliches;
}

img:hover{
	opacity: 1;
	transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
